.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  overflow: hidden;
}

.control {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 30px;

  height: 120px;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score {
  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 70px;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.playerControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rangeInput {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transform: rotate(-90deg);

  color: #fff;
  text-shadow: 0 0 3px #fff;
}

.colorPickerWrapper {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  user-select: none;
}

.colorLabel {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.colorPicker {
  min-width: 40px;
  max-height: 40px;

  width: 40px;
  height: 40px;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

input[type="range"]{
  width: 100px;
}
